@import url("./something.css");

.body-text {
  padding: 40px 300px 50px 50px;
  text-indent: 20px;
}

.body-title-one {
  padding: 30px 10px 0 50px;
  font-weight: bold;
  font-size: 40px;
}

.body-title-two {
  padding: 10px 50px;
  font-size: 40px;
  font-weight: normal;
}

button {
  margin-left: 70px;
  font-size: 15px;
  border-radius: 50%;
  padding: 12px;
  background-color: brown;
}
