* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body {
  background: url("/public/Twitter.png") no-repeat center center fixed;
  background-size: 100% 100%;
}

#header {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.logo {
  width: 100px;
  margin: 30px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #f6dcdb;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

#side-menu {
  background-color: #49216186;
  border-radius: 30px;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

main {
  width: 50%;
  margin-left: 5%;
}

.body-text {
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
}

.body-title-one {
  font-weight: bold;
  font-size: 40px;
}

.body-title-two {
  font-size: 40px;
  font-weight: normal;
}

button {
  font-size: 15px;
  border-radius: 25px;
  margin-top: 20px;
  color: white;
  padding: 15px;
  border: none;
  background-color: #492161;
}

.footer {
  /* Your footer styling */
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  margin-left: 20%;
}
